<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.st.stm32cube.ide.mcu.debug.openocd.cfg.management" name="com.st.stm32cube.ide.mcu.debug.openocd.cfg.management" schema="schema/com.st.stm32cube.ide.mcu.debug.openocd.cfg.management.exsd"/>
   <extension-point id="com.st.stm32cube.ide.mcu.debug.openocd.cfg.resources" name="com.st.stm32cube.ide.mcu.debug.openocd.cfg.resources.exsd" schema="schema/com.st.stm32cube.ide.mcu.debug.openocd.cfg.resources.exsd"/>

<!-- =================================================================================== -->
<!-- MCU Variables			                                                             -->
<!-- =================================================================================== -->
    <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
          description="Path to the internal openocd scripts root"
          name="stm32_openocd_script_root_path"
          resolver="com.st.stm32cube.ide.mcu.debug.openocd.variables.MCUOpenOCDEnvironmentVariableResolver">
      </variable>
    </extension>

    <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="com.st.stm32cube.ide.mcu.debug.openocd.processanalyzer.logger.OpenOcdStatusProcessHandler"
            code="666"
            id="com.st.stm32cube.ide.mcu.debug.openOcdProcessHandler"
            plugin="com.st.stm32cube.ide.mcu.debug">
      </statusHandler>
   </extension>
    <extension point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
        <device
            class="com.st.stm32cube.ide.mcu.debug.openocd.OpenOCDDebugHardware"
            id="com.st.stm32cube.ide.mcu.debug.openocd"
            name="ST-LINK (OpenOCD)">
        </device>
   </extension>
</plugin>
