<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE plugin>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.st.stm32cube.ide.mpu.ide.properties.RemoteSettingsPropertyPage"
            id="com.st.stm32cube.ide.mpu.ide.remotesettings"
            name="Remote Settings">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.st.stm32cube.ide.mpu.projectnatures.core.MPUEmbeddedMCUProjectNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="com.st.stm32cube.ide.mcu.ide.extensiondescriptor">
      <IdeExtensionDescriptor
            provider="com.st.stm32cube.ide.mpu.ide.core.IdeExtensionDescriptorProvider">
      </IdeExtensionDescriptor>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="com.st.stm32cube.ide.mpu.ide.internal.services.MPUServiceFactory">
         <service
               serviceClass="com.st.stm32cube.ide.mpu.ide.services.IMPUTargetService"></service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="com.st.stm32cube.ide.mpu.ide.toolbar.status"
               label="MPU Target Status Toolbar">
            <control
                  class="com.st.stm32cube.ide.mpu.ide.ui.status.MPUWorkbenchWindowControlContribution"
                  id="com.st.stm32cube.ide.mpu.ide.ui.status">
               <visibleWhen
                     checkEnabled="false">
                     <and>
                        <or>
                           <and>
                              <with
                                    variable="com.st.stm32cube.ide.mpu.ide.isWidgetVisible">
                                 <equals
                                       value="TRUE">
                                 </equals>
                              </with>
                              <with
                                    variable="com.st.stm32cube.ide.mpu.ide.isOneMpuProject">
                                 <equals
                                       value="TRUE">
                                 </equals>
                              </with>
                           </and>
                           <with
                                 variable="com.st.stm32cube.ide.mpu.ide.isWidgetAlwaysVisible">
                              <equals
                                    value="TRUE">
                              </equals>
                           </with>
                        </or>
                  </and>
               </visibleWhen>
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.st.stm32cube.common.preferences.properties.preferenceCategoryPage"
            class="com.st.stm32cube.ide.mpu.ide.ui.status.MPUTargetStatusPreferencePage"
            id="com.st.stm32cube.ide.mpu.ide.status.pref"
            name="Target Status">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.st.stm32cube.ide.mpu.ide.services.MPUIdeSourceProvider">
         <variable
               name="com.st.stm32cube.ide.mpu.ide.isOneMpuProject"
               priorityLevel="workbench">
         </variable>
         <variable
               name="com.st.stm32cube.ide.mpu.ide.isWidgetVisible"
               priorityLevel="workbench">
         </variable>
         <variable
               name="com.st.stm32cube.ide.mpu.ide.isWidgetAlwaysVisible"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="com.st.stm32cube.common.preferences.page">
      <PreferencePageProvider
            provider="com.st.stm32cube.ide.mpu.ide.ui.status.MPUTargetStatusPreferencePage">
      </PreferencePageProvider>
   </extension>
</plugin>
