<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE plugin>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.st.stm32cube.ide.mcu.analytics.core.MCUAnalyticsStartup">
      </startup>
   </extension>
   <extension
      point="org.eclipse.ui.preferencePages">
      <page
         category="com.st.stm32cube.common.preferences.properties.preferenceCategoryPage"
         class="com.st.stm32cube.ide.mcu.analytics.ui.preferences.MCUEndUserAgreementsPreferencePage"
         id="com.st.stm32cube.ide.mcu.analytics.ui.preferences.MCUEndUserAgreementsPreferencePage"
         name="End User Agreements">
      </page>
  </extension>
  <extension
       point="com.st.stm32cube.common.preferences.page">
    <PreferencePageProvider
          provider="com.st.stm32cube.ide.mcu.analytics.ui.preferences.MCUEndUserAgreementsPreferencePage">
    </PreferencePageProvider>
 </extension>
 </plugin>
