<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE plugin>
<plugin>
   <extension
         point="com.st.stm32cube.ide.mcu.projecttree">
      <ProjectTree
            provider="com.st.stm32cube.ide.mpu.projecttree.core.MPUIdeProjectTreeProvider">
      </ProjectTree>
   </extension>
</plugin>
