<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE plugin>
<plugin>
  <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%DebuggingMCUContext.name"
            description="%DebuggingMCUContext.description"
            parentId="org.eclipse.debug.ui.debugging"
            id="com.st.stm32cube.ide.mpu.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            debugModelId="org.eclipse.cdt.debug.core"
            contextId="com.st.stm32cube.ide.mpu.debug.ui.debugging">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            contextId="com.st.stm32cube.ide.mpu.debug.ui.debugging"
            viewId="org.eclipse.debug.ui.MemoryView">
      </contextViewBinding>
      <contextViewBinding
            autoOpen="false"
            contextId="com.st.stm32cube.ide.mpu.debug.ui.debugging"
            viewId="org.eclipse.cdt.debug.ui.SignalsView">
      </contextViewBinding>
      <contextViewBinding
            contextId="com.st.stm32cube.ide.mpu.debug.ui.debugging"
            viewId="org.eclipse.debug.ui.RegisterView">
      </contextViewBinding>
      <contextViewBinding
            contextId="com.st.stm32cube.ide.mpu.debug.ui.debugging"
            viewId="org.eclipse.debug.ui.ModuleView">
      </contextViewBinding>
   </extension>
   <extension
         point="com.st.stm32cube.ide.mcu.debug.launch.configurationUiElement">
      <debugConfigElement
            class="com.st.stm32cube.ide.mpu.debug.ui.MPUDebuggerTabElem"
            level="1">
      </debugConfigElement>
   </extension>
   <extension
         point="com.st.stm32cube.ide.mcu.debug.launch.preLaunch">
      <preLaunch
            class="com.st.stm32cube.ide.mpu.debug.launching.MPUPreLaunch"
            order="0">
      </preLaunch>
   </extension>
</plugin>
