<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE plugin>
<plugin>
   <extension-point id="com.st.stm32cube.ide.mcu.startup.startupgenerator" name="com.st.stm32cube.ide.mcu.startup.startupgenerator" schema="schema/com.st.stm32cube.ide.mcu.startup.startupgenerator.exsd"/>
</plugin>
