<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.7"?>
<!DOCTYPE plugin>
<plugin>
   <extension-point id="com.st.stm32cube.ide.common.services.defaultbuildconfig" name="com.st.stm32cube.ide.common.services.defaultbuildconfig" schema="schema/com.st.stm32cube.ide.common.services.defaultbuildconfig.exsd"/>
   <extension-point id="com.st.stm32cube.ide.common.services.registration" name="com.st.stm32cube.ide.common.services.registration" schema="schema/com.st.stm32cube.ide.common.services.registration.exsd"/>
   <extension
         point="com.st.stm32cube.ide.common.services.registration">
      <ServiceRegistration
            provider="com.st.stm32cube.ide.common.services.version.VersionServiceRegistrationProvider">
      </ServiceRegistration>
   </extension>
  <extension
       id="com.st.stm32cube.ide.mcu.MCUCubeIdeServicesRevAProjectNature"
       name="%project.nature.services.revA.name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.st.stm32cube.ide.common.services.natures.MCUCubeIdeServicesRevAProjectNature">
       </run>
    </runtime>
 </extension>
    <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
      <image
      	id="com.st.stm32cube.ide.mcu.platform.stPlatformNature.image"
      	natureId="com.st.stm32cube.ide.mcu.MCUCubeIdeServicesRevAProjectNature"
      	icon="icons/STM32CubeIDE_icon_16px.png">
      </image>
   </extension>
   <extension
       id="com.st.stm32cube.ide.mcu.MCUCubeIdeServicesRevAev1ProjectNature"
       name="%project.nature.services.revAev1.name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.st.stm32cube.ide.common.services.natures.MCUCubeIdeServicesRevAev1ProjectNature">
       </run>
    </runtime>
 </extension>
    <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
      <image
      	id="com.st.stm32cube.ide.mcu.platform.stPlatformNature.image"
      	natureId="com.st.stm32cube.ide.mcu.MCUCubeIdeServicesRevAev1ProjectNature"
      	icon="icons/STM32CubeIDE_icon_16px.png">
      </image>
   </extension>
   <extension
       id="com.st.stm32cube.ide.mcu.MCUCubeIdeServicesRevAev2ProjectNature"
       name="%project.nature.services.revAev2.name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.st.stm32cube.ide.common.services.natures.MCUCubeIdeServicesRevAev2ProjectNature">
       </run>
    </runtime>
 </extension>
    <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
      <image
      	id="com.st.stm32cube.ide.mcu.platform.stPlatformNature.image"
      	natureId="com.st.stm32cube.ide.mcu.MCUCubeIdeServicesRevAev2ProjectNature"
      	icon="icons/STM32CubeIDE_icon_16px.png">
      </image>
   </extension>
 </plugin>
