<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE plugin>
<plugin>
   <extension-point id="com.st.stm32cube.ide.mcu.ide.extensiondescriptor" name="com.st.stm32cube.ide.mcu.ide.extensiondescriptor" schema="schema/com.st.stm32cube.ide.mcu.ide.extensiondescriptor.exsd"/>
   <extension-point id="com.st.stm32cube.ide.mcu.ide.projectimporter.converters" name="STM32 Project Importer Registered Converters" schema="schema/com.st.stm32cube.ide.mcu.ide.projectimporter.converters.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.st.stm32cube.ide.mcu.ide.ui.project.internal.MCUProjectImporterStartup">
      </startup>
      <startup
            class="com.st.stm32cube.ide.mcu.ide.startup.LoadBuildRef">
      </startup>
      <startup
            class="com.st.stm32cube.ide.mcu.ide.startup.ProductDbLoad">
      </startup>
      <startup
            class="com.st.stm32cube.ide.mcu.ide.core.SessionAnalytics">
      </startup>
   </extension>
    <!--extension
         point="org.eclipse.ui.startup"-->
      <!--startup class="com.st.stm32cube.ide.mcu.ide.startup.LoadResourcesStartup"/-->
      <!--startup class="com.st.stm32cube.ide.mcu.ide.startup.DownloadLibrariesStartup"/-->
   <!--/extension-->

<!-- ESSAI pour l'import automatique sur double-clic des .project
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="com.st.stm32cube.ide.mcu.ide.startup.ImportProjectStartup">
    </startup>
 </extension>
-->
    <!--extension
   		point="org.eclipse.ui.propertyPages">
   		<page
   			class="com.st.stm32cube.ide.mcu.ide.ui.properties.PeriphProperties"
   			name="C/C++ Chip config"
   			id="com.st.stm32cube.ide.mcu.ide.ui.properties.periphProperties"
   			>
   			<enabledWhen>
   				<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature" value="com.st.stm32cube.ide.platform.stplatformNature"/>
				</adapt>
			</enabledWhen>
   		</page>
   	 </extension-->
	<extension
			point="org.eclipse.ui.preferencePages">
  <page
        category="com.st.stm32cube.common.preferences.properties.preferenceCategoryPage"
        class="com.st.stm32cube.ide.mcu.ide.ui.properties.MCUFilesAssociationPreferencePage"
        id="com.st.stm32cube.ide.mcu.ide.ui.properties.filesAssociationPreferencePage"
        name="%preferencePage.filesAssociation.name">
  </page>
	</extension>
 <extension
       point="com.st.stm32cube.common.preferences.page">
    <PreferencePageProvider
          provider="com.st.stm32cube.ide.mcu.ide.ui.properties.MCUFilesAssociationPreferencePage">
    </PreferencePageProvider>
 </extension>
 <extension
       point="com.st.stm32cube.common.projectcreation.ui.projectoptionsgroup">
    <ProjectSetupOptionGroupProvider
          provider="com.st.stm32cube.ide.mcu.ide.ui.wizard.MCUProjectCreationWizardProjectOptionsGroupProvider">
    </ProjectSetupOptionGroupProvider>
 </extension>
 <extension
       point="com.st.stm32cube.common.projectcreation.ui.fwoptionsgroup">
    <FirmwareSetupOptionsGroupProvider
          provider="com.st.stm32cube.ide.mcu.ide.ui.wizard.MCUProjectCreationWizardFirmwareOptionsGroupProvider">
    </FirmwareSetupOptionsGroupProvider>
 </extension>
 <extension
       point="com.st.stm32cube.common.projectcreation.ui.projectcreation.processoperation">
    <ProjectCreationProcessOperationProvider
          provider="com.st.stm32cube.ide.mcu.ide.process.MCUProjectCreationProcessOperationProvider">
    </ProjectCreationProcessOperationProvider>
 </extension>
 <extension
       point="com.st.stm32cube.common.projectcreation.ui.exampleimport.processoperation">
    <ExampleImportProcessOperationProvider
          provider="com.st.stm32cube.ide.mcu.ide.process.MCUExampleImportProcessOperationProvider">
    </ExampleImportProcessOperationProvider>
 </extension>
    <extension
          point="com.st.stm32cube.ide.mcu.startup.startupgenerator">
       <StartupGenerator
             provider="com.st.stm32cube.ide.mcu.ide.engine.MCUIdeStartupProvider">
       </StartupGenerator>
    </extension>
    <extension
          point="com.st.stm32cube.common.mx.externaltools">
       <ExternalTools
             provider="com.st.stm32cube.ide.mcu.ide.core.ExternalToolsProvider">
       </ExternalTools>
    </extension>
   <extension
        point="org.eclipse.ui.menus">
     <menuContribution
			locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
  <command
        commandId="com.st.stm32cube.ide.mcu.ide.command.generatecode"
        icon="icons/generatecode.gif"
        id="com.st.stm32cube.ide.mcu.ide.menu.command.generatecode"
        label="Generate Code"
        style="push">
     <visibleWhen
           checkEnabled="false">
        <with
              variable="activeMenuSelection">
           <or>
              <iterate
                    ifEmpty="false"
                    operator="or">
                 <adapt
                       type="org.eclipse.core.resources.IProject">
                    <test
                          property="org.eclipse.core.resources.projectNature"
                          value="com.st.stm32cube.ide.mcu.MCUCubeProjectNature">
                    </test>
                 </adapt>
              </iterate>
              <iterate>
                 <adapt
                       type="org.eclipse.core.resources.IResource">
                    <test
                          property="org.eclipse.core.resources.extension"
                          value="ioc">
                    </test>
                 </adapt>
              </iterate>
           </or>
        </with>
     </visibleWhen>
  </command>
	 </menuContribution>

     <menuContribution
			locationURI="popup:org.eclipse.ui.views.ResourceNavigator?after=additions">
        <command
              commandId="com.st.stm32cube.ide.mcu.ide.command.generatecode"
              icon="icons/generatecode.gif"
              id="com.st.stm32cube.ide.mcu.ide.menu.command.generatecode"
              label="Generate Code"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="activeMenuSelection">
                 <or>
                    <iterate
                          ifEmpty="false"
                          operator="or">
                       <adapt
                             type="org.eclipse.core.resources.IProject">
                          <test
                                property="org.eclipse.core.resources.projectNature"
                                value="com.st.stm32cube.ide.mcu.MCUCubeProjectNature">
                          </test>
                       </adapt>
                    </iterate>
                    <iterate>
                       <adapt
                             type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.eclipse.core.resources.extension"
                                value="ioc">
                          </test>
                       </adapt>
                    </iterate>
                 </or>
              </with>
           </visibleWhen>
        </command>
	 </menuContribution>

     <menuContribution
			locationURI="popup:org.eclipse.cdt.ui.CView?after=additions">
        <command
              commandId="com.st.stm32cube.ide.mcu.ide.command.generatecode"
              icon="icons/generatecode.gif"
              id="com.st.stm32cube.ide.mcu.ide.menu.command.generatecode"
              label="Generate Code"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="activeMenuSelection">
                 <or>
                    <iterate
                          ifEmpty="false"
                          operator="or">
                       <adapt
                             type="org.eclipse.core.resources.IProject">
                          <test
                                property="org.eclipse.core.resources.projectNature"
                                value="com.st.stm32cube.ide.mcu.MCUCubeProjectNature">
                          </test>
                       </adapt>
                    </iterate>
                    <iterate>
                       <adapt
                             type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.eclipse.core.resources.extension"
                                value="ioc">
                          </test>
                       </adapt>
                    </iterate>
                 </or>
              </with>
           </visibleWhen>
        </command>
	 </menuContribution>

   </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="com.st.stm32cube.ide.mcu.ide.handlers.ioc.GenerateCodeHandler"
           description="Generate Code (based on .ioc file content)"
           id="com.st.stm32cube.ide.mcu.ide.command.generatecode"
           name="Generate Code">
     </command>
  </extension>
  <extension
        point="com.st.stm32cube.common.ecosystemintegration.ide.descriptor">
     <IdeDescriptor
           provider="com.st.stm32cube.ide.mcu.ide.process.MCUIdeDescriptorProvider">
     </IdeDescriptor>
  </extension>
  <extension
        point="com.st.stm32cube.common.mx.idedescriptor">
     <IdeDescriptor
           provider="com.st.stm32cube.ide.mcu.ide.process.MxIdeDescriptorProvider">
     </IdeDescriptor>
  </extension>
  <extension
        point="org.eclipse.ui.activities">
     <activity
           id="com.st.stm32cube.ide.mcu.rcp.hideActivity.mcuProject"
           name="Eclipse UI-Elems Hide Activity For MCU Project">
        <enabledWhen>
           <with
                 variable="selection">
              <iterate
                    operator="or">
                 <adapt
                       type="org.eclipse.core.resources.IProject">
                    <not>
                       <test
                             property="org.eclipse.core.resources.projectNature"
                             value="com.st.stm32cube.ide.mcu.MCUProjectNature">
                       </test>
                    </not>
                 </adapt>
              </iterate>
           </with>
        </enabledWhen>
     </activity>
     <activity
           id="com.st.stm32cube.ide.mcu.ide.hideProjectNatures"
           name="Project Natures Property Page Hidding">
        <enabledWhen>
           <or>
              <with
                    variable="selection">
                 <iterate
                       operator="or">
                    <adapt
                          type="org.eclipse.core.resources.IProject">
                       <not>
                          <test
                                property="org.eclipse.core.resources.projectNature"
                                value="com.st.stm32cube.ide.mcu.MCUProjectNature">
                          </test>
                       </not>
                    </adapt>
                 </iterate>
              </with>
              <test
                    args="-unhideAll,-unhideProjectNaturesPage"
                    property="com.st.stm32cube.ide.mcu.ide.hasAnyOfRuntimeArguments">
              </test>
           </or>
        </enabledWhen>
     </activity>
     <activity
           id="com.st.stm32cube.ide.mcu.ide.hideConvert2CCpp"
           name="Convert C/C++ Wizard Hidding">
        <enabledWhen>
           <or>
              <with
                    variable="selection">
                 <iterate
                       operator="or">
                    <adapt
                          type="org.eclipse.core.resources.IProject">
                       <not>
                          <test
                                property="org.eclipse.core.resources.projectNature"
                                value="com.st.stm32cube.ide.mcu.MCUProjectNature">
                          </test>
                       </not>
                    </adapt>
                 </iterate>
              </with>
              <test
                    args="-unhideAll,-unhideStdConvertCCpp"
                    property="com.st.stm32cube.ide.mcu.ide.hasAnyOfRuntimeArguments">
              </test>
           </or>
        </enabledWhen>
     </activity>
     <activityPatternBinding
           activityId="com.st.stm32cube.ide.mcu.rcp.hideActivity.mcuProject"
           pattern=".*/org.eclipse.cdt.managedbuilder.ui.properties.Page_ToolChain">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="com.st.stm32cube.ide.mcu.ide.hideProjectNatures"
           pattern=".*/org.eclipse.ui.propertypages.project.natures">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="com.st.stm32cube.ide.mcu.ide.hideConvert2CCpp"
           pattern=".*/org.eclipse.cdt.ui.wizards.ConvertToMakeWizard">
     </activityPatternBinding>
  </extension>
 <extension
       point="org.eclipse.ui.decorators">
    <decorator
          adaptable="true"
          class="com.st.stm32cube.ide.mcu.ide.ui.decorators.HierarchicalProjectTreeDecorator"
          id="com.st.stm32cube.ide.mcu.ide.ui.decorators.hierarchicalprojecttreedecorator"
          label="Hierarchical Project Tree Decorator"
          lightweight="true"
          location="BOTTOM_LEFT"
          state="true">
       <enablement>
             <objectClass
                   name="org.eclipse.core.resources.IProject">
             </objectClass>
       </enablement>
    </decorator>
 </extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="com.st.stm32cube.ide.mcu.ide.ui.properties.RuntimeArgsPropertyTester"
          id="com.st.stm32cube.ide.mcu.ide.runtimeArgsTester"
          namespace="com.st.stm32cube.ide.mcu.ide"
          properties="hasAnyOfRuntimeArguments,hasAllRuntimeArguments"
          type="java.lang.Object">
    </propertyTester>
 </extension>
   <extension
         point="com.st.stm32cube.common.mx.analytics.idedescriptor">
      <IdeDescriptor
            provider="com.st.stm32cube.ide.mcu.ide.process.MxIdeAnalyticsDescriptorProvider">
      </IdeDescriptor>
   </extension>
   <extension
         point="com.st.stm32cube.common.mx.idehelper">
      <IdeHelper
            provider="com.st.stm32cube.ide.mcu.ide.process.MCUIdeHelperProvider">
      </IdeHelper>
   </extension>
   <extension
         point="com.st.stm32cube.common.mx.cperspective.idedescriptor">
      <IdeDescriptor
            provider="com.st.stm32cube.ide.mcu.ide.process.MxIdeCPerspectiveAssociationsDescriptorProvider">
      </IdeDescriptor>
   </extension>
   <extension
         point="com.st.stm32cube.common.utils.ide.descriptor">
      <IdeDescriptor
            provider="com.st.stm32cube.ide.mcu.ide.process.MCUUtilsIdeDescriptorProvider">
      </IdeDescriptor>
   </extension>
</plugin>
