<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.7"?>
<!DOCTYPE plugin>
<plugin
>
    <!-- =================================================================================== -->
<!-- MCU Project Nature                                                                  -->
<!-- =================================================================================== -->
 <extension
       id="com.st.stm32cube.ide.mcu.MCUMultiCpuProjectNature"
       name="%project.nature.multicore.name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUMultiCpuProjectNature">
       </run>
    </runtime>
 </extension>
 <extension
       id="com.st.stm32cube.ide.mcu.MCUSingleCpuProjectNature"
       name="%project.nature.singlecore.name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUSingleCpuProjectNature">
       </run>
    </runtime>
 </extension>
 <extension
       id="com.st.stm32cube.ide.mcu.MCUSecureProjectNature"
       name="%project.nature.secure.name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUSecureProjectNature">
       </run>
    </runtime>
 </extension>
 <extension
       id="com.st.stm32cube.ide.mcu.MCUNonSecureProjectNature"
       name="%project.nature.nonsecure.name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUNonSecureProjectNature">
       </run>
    </runtime>
 </extension>
 <extension
       id="com.st.stm32cube.ide.mcu.MCUCubeProjectNature"
       name="%project.nature.cube.name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUCubeProjectNature">
       </run>
    </runtime>
 </extension>
 <extension
       id="com.st.stm32cube.ide.mcu.MCUNonManagedMakefileProjectNature"
       name="%project.nature.nonmanagedmakefile.name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUNonManagedMakefileProjectNature">
       </run>
    </runtime>
 </extension>
 <extension
       id="com.st.stm32cube.ide.mcu.MCUManagedMakefileProjectNature"
       name="%project.nature.managedmakefile.name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUManagedMakefileProjectNature">
       </run>
    </runtime>
 </extension>
 <extension
       id="com.st.stm32cube.ide.mcu.MCURootProjectNature"
       name="%project.nature.rootproject.name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.st.stm32cube.ide.mcu.projectnatures.core.MCURootProjectNature">
       </run>
    </runtime>
 </extension>
 <extension
       id="com.st.stm32cube.ide.mcu.MCUCpuProjectNature"
       name="%project.nature.cpuproject.name"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUCpuProjectNature">
       </run>
    </runtime>
 </extension>
      <extension
       id="com.st.stm32cube.ide.mcu.MCUProjectNature"
       name="%project.nature.mcu.name"
       point="org.eclipse.core.resources.natures">
<!-- FIXME ... to uncomment once able to generate a .cproject a priori thinkingm CubeMx like project
 <requires-nature
          id="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
    </requires-nature>
 -->
    <runtime>
       <run
             class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUProjectNature">
       </run>
    </runtime>
 </extension>
      <extension
            id="com.st.stm32cube.ide.mcu.MCUNoDebugDeviceProjectNature"
            name="%project.nature.debugdeviceless.name"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUDebugDeviceLessProjectNature">
            </run>
         </runtime>
      </extension>
      <extension
            id="com.st.stm32cube.ide.mcu.MCUCubeExampleProjectNature"
            name="%project.nature.cube.example.name"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUCubeExampleProjectNature">
            </run>
         </runtime>
      </extension>
      <extension
            id="com.st.stm32cube.ide.mcu.MCUCubeImportedExampleProjectNature"
            name="%project.nature.cube.imported.example.name"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUCubeImportedExampleProjectNature">
            </run>
         </runtime>
      </extension>
      <extension
            id="com.st.stm32cube.ide.mcu.MCUSW4STM32ConvertedProjectNature"
            name="%project.nature.sw4stm32.converted.project.name"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="com.st.stm32cube.ide.mcu.projectnatures.converters.MCUSW4STM32ConvertedProjectNature">
            </run>
         </runtime>
      </extension>
      <extension
            id="com.st.stm32cube.ide.mcu.MCUTSConvertedProjectNature"
            name="%project.nature.ts.converted.project.name"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="com.st.stm32cube.ide.mcu.projectnatures.converters.MCUTSConvertedProjectNature">
            </run>
         </runtime>
      </extension>
      <extension
            id="com.st.stm32cube.ide.mcu.MCUNonUnderRootProjectNature"
            name="%project.nature.nonunderroot.name"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUNonUnderRootProjectNature">
            </run>
         </runtime>
      </extension>
      <extension
            id="com.st.stm32cube.ide.mcu.MCUEndUserDisabledTrustZoneProjectNature"
            name="%project.nature.disabledtrustzone.name"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUEndUserDisabledTrustZoneProjectNature">
            </run>
         </runtime>
      </extension>
      <extension
            id="com.st.stm32cube.ide.mcu.MCUEndUserDisabledMultiCpuProjectNature"
            name="%project.nature.disabledmulticpu.name"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUEndUserDisabledMultiCpuProjectNature">
            </run>
         </runtime>
      </extension>
      <extension
            id="com.st.stm32cube.ide.mcu.MCUAdvancedStructureProjectNature"
            name="%project.nature.advanced.name"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="com.st.stm32cube.ide.mcu.projectnatures.core.MCUAdvancedStructureProjectNature">
            </run>
         </runtime>
      </extension>
      <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="com.st.stm32cube.ide.mcu.projectnatures.properties.PropertyTester"
               id="com.st.stm32cube.ide.mcu.projectnatures.properties.propertytester"
               namespace="com.st.stm32cube.ide.mcu.projectnatures.properties.propertytester"
               properties="isMcuProject,hasActiveToolchain"
               type="org.eclipse.core.resources.IResource">
         </propertyTester>
      </extension>

   <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
      <image
      	id="com.st.stm32cube.ide.mcu.platform.stPlatformNature1.image"
      	natureId="com.st.stm32cube.ide.mcu.MCUMultiCpuProjectNature"
      	icon="icons/STM32CubeIDE_icon_16px.png">
      </image>
   </extension>
   <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
      <image
      	id="com.st.stm32cube.ide.mcu.platform.stPlatformNature2.image"
      	natureId="com.st.stm32cube.ide.mcu.MCUSingleCpuProjectNature"
      	icon="icons/STM32CubeIDE_icon_16px.png">
      </image>
   </extension>
   <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
      <image
      	id="com.st.stm32cube.ide.mcu.platform.stPlatformNature3.image"
      	natureId="com.st.stm32cube.ide.mcu.MCUSecureProjectNature"
      	icon="icons/STM32CubeIDE_icon_16px.png">
      </image>
   </extension>
   <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
      <image
      	id="com.st.stm32cube.ide.mcu.platform.stPlatformNature4.image"
      	natureId="com.st.stm32cube.ide.mcu.MCUNonSecureProjectNature"
      	icon="icons/STM32CubeIDE_icon_16px.png">
      </image>
   </extension>
   <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
      <image
      	id="com.st.stm32cube.ide.mcu.platform.stPlatformNature5.image"
      	natureId="com.st.stm32cube.ide.mcu.MCUCubeProjectNature"
      	icon="icons/STM32CubeIDE_icon_16px.png">
      </image>
   </extension>
   <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
      <image
      	id="com.st.stm32cube.ide.mcu.platform.stPlatformNature6.image"
      	natureId="com.st.stm32cube.ide.mcu.MCUNonManagedMakefileProjectNature"
      	icon="icons/STM32CubeIDE_icon_16px.png">
      </image>
   </extension>
   <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
      <image
      	id="com.st.stm32cube.ide.mcu.platform.stPlatformNature7.image"
      	natureId="com.st.stm32cube.ide.mcu.MCUManagedMakefileProjectNature"
      	icon="icons/STM32CubeIDE_icon_16px.png">
      </image>
   </extension>
     <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
      <image
      	id="com.st.stm32cube.ide.mcu.platform.stPlatformNature8.image"
      	natureId="com.st.stm32cube.ide.mcu.MCUProjectNature"
      	icon="icons/STM32CubeIDE_icon_16px.png">
      </image>
   </extension>
     <extension
           point="org.eclipse.ui.ide.projectNatureImages">
        <image
              icon="icons/STM32CubeIDE_icon_16px.png"
              id="com.st.stm32cube.ide.mcu.platform.stPlatformNature9.image"
              natureId="com.st.stm32cube.ide.mcu.MCUNoDebugDeviceProjectNature">
        </image>
     </extension>
     <extension
           point="org.eclipse.ui.ide.projectNatureImages">
        <image
              icon="icons/STM32CubeIDE_icon_16px.png"
              id="com.st.stm32cube.ide.mcu.platform.stPlatformNature10.image"
              natureId="com.st.stm32cube.ide.mcu.MCUCubeExampleProjectNature">
        </image>
     </extension>
      <extension
           point="org.eclipse.ui.ide.projectNatureImages">
        <image
              icon="icons/STM32CubeIDE_icon_16px.png"
              id="com.st.stm32cube.ide.mcu.platform.stPlatformNature18.image"
              natureId="com.st.stm32cube.ide.mcu.MCUCubeImportedExampleProjectNature">
        </image>
     </extension>
     <extension
           point="org.eclipse.ui.ide.projectNatureImages">
        <image
              icon="icons/STM32CubeIDE_icon_16px.png"
              id="com.st.stm32cube.ide.mcu.platform.stPlatformNature11.image"
              natureId="com.st.stm32cube.ide.mcu.MCUSW4STM32ConvertedProjectNature">
        </image>
    </extension>
     <extension
           point="org.eclipse.ui.ide.projectNatureImages">
        <image
              icon="icons/STM32CubeIDE_icon_16px.png"
              id="com.st.stm32cube.ide.mcu.platform.stPlatformNature12.image"
              natureId="com.st.stm32cube.ide.mcu.MCUTSConvertedProjectNature">
        </image>
     </extension>
     <extension
           point="org.eclipse.ui.ide.projectNatureImages">
        <image
              icon="icons/STM32CubeIDE_icon_16px.png"
              id="com.st.stm32cube.ide.mcu.platform.stPlatformNature13.image"
              natureId="com.st.stm32cube.ide.mcu.MCURootProjectNature">
        </image>
     </extension>
     <extension
           point="org.eclipse.ui.ide.projectNatureImages">
        <image
              icon="icons/STM32CubeIDE_icon_16px.png"
              id="com.st.stm32cube.ide.mcu.platform.stPlatformNature19.image"
              natureId="com.st.stm32cube.ide.mcu.MCUCpuProjectNature">
        </image>
     </extension>
     <extension
           point="org.eclipse.ui.ide.projectNatureImages">
        <image
              id="com.st.stm32cube.ide.mcu.platform.stPlatformNature14.image"
              icon="icons/STM32CubeIDE_icon_16px.png"
              natureId="com.st.stm32cube.ide.mcu.MCUNonUnderRootProjectNature">
        </image>
     </extension>
     <extension
           point="org.eclipse.ui.ide.projectNatureImages">
        <image
              id="com.st.stm32cube.ide.mcu.platform.stPlatformNature15.image"
              icon="icons/STM32CubeIDE_icon_16px.png"
              natureId="com.st.stm32cube.ide.mcu.MCUAdvancedStructureProjectNature">
        </image>
     </extension>
     <extension
           point="org.eclipse.ui.ide.projectNatureImages">
        <image
              id="com.st.stm32cube.ide.mcu.platform.stPlatformNature16.image"
              icon="icons/STM32CubeIDE_icon_16px.png"
              natureId="com.st.stm32cube.ide.mcu.MCUEndUserDisabledTrustZoneProjectNature">
        </image>
     </extension>
     <extension
           point="com.st.stm32cube.common.projectcreation.nature">
        <ProjectNature
              provider="com.st.stm32cube.ide.mcu.projectnatures.core.MCUMultiCpuProjectNatureProvider">
        </ProjectNature>
     </extension>
     <extension
           point="com.st.stm32cube.common.projectcreation.nature">
        <ProjectNature
              provider="com.st.stm32cube.ide.mcu.projectnatures.core.MCUDebugDeviceLessProjectNatureProvider">
        </ProjectNature>
     </extension>
     <extension
           point="com.st.stm32cube.common.projectcreation.nature">
        <ProjectNature
              provider="com.st.stm32cube.ide.mcu.projectnatures.core.MCUSingleCpuProjectNatureProvider">
        </ProjectNature>
     </extension>
   <extension
         id="com.st.stm32cube.ide.mcu.MCURichOSCapableProjectNature"
         name="%project.nature.richoscapable.name"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="com.st.stm32cube.ide.mcu.MCUProjectNature">
      </requires-nature>
      <runtime>
         <run
               class="com.st.stm32cube.ide.mcu.projectnatures.core.MCURichOSCapableProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
      <image
      	id="com.st.stm32cube.ide.mpu.platform.stPlatformNature17.image"
      	natureId="com.st.stm32cube.ide.mcu.MCURichOSCapableProjectNature"
      	icon="icons/STM32CubeIDE_icon_16px.png">
      </image>
   </extension>
 </plugin>
