<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.7"?>
<!DOCTYPE plugin>
<plugin>
   <extension-point id="com.st.stm32cube.ide.mcu.productdb.local" name="com.st.stm32cube.ide.mcu.productdb.local" schema="schema/com.st.stm32cube.ide.mcu.productdb.local.exsd"/>
   <extension-point id="com.st.stm32cube.ide.mcu.productdb" name="com.st.stm32cube.ide.mcu.productdb" schema="schema/com.st.stm32cube.ide.mcu.productdb.exsd"/>
   id="com.st.stm32cube.ide.mcu.productdb"
   name="%pluginName"
   version="1.0.0.qualifier"
   provider-name="%providerName">
</plugin>
