<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE plugin>
<plugin>

<!-- =================================================================================== -->
<!-- MCU Debug context																	 -->
<!-- =================================================================================== -->
	<extension
         point="org.eclipse.ui.contexts">
      <context
            name="%DebuggingMCUContext.name"
            description="%DebuggingMCUContext.description"
            parentId="org.eclipse.debug.ui.debugging"
            id="com.st.stm32cube.ide.mcu.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            debugModelId="org.eclipse.cdt.debug.core"
            contextId="com.st.stm32cube.ide.mcu.debug.ui.debugging">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            contextId="com.st.stm32cube.ide.mcu.debug.ui.debugging"
            viewId="org.eclipse.debug.ui.MemoryView">
      </contextViewBinding>
      <contextViewBinding
            autoOpen="false"
            contextId="com.st.stm32cube.ide.mcu.debug.ui.debugging"
            viewId="org.eclipse.cdt.debug.ui.SignalsView">
      </contextViewBinding>
      <contextViewBinding
            contextId="com.st.stm32cube.ide.mcu.debug.ui.debugging"
            viewId="org.eclipse.debug.ui.RegisterView">
      </contextViewBinding>
      <contextViewBinding
            contextId="com.st.stm32cube.ide.mcu.debug.ui.debugging"
            viewId="org.eclipse.debug.ui.ModuleView">
      </contextViewBinding>
   </extension>
<!-- =================================================================================== -->
<!-- MCU Menu			                                                             -->
<!-- =================================================================================== -->
<!--
   <extension
        point="org.eclipse.ui.menus">
     <menuContribution
			locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
		<menu
		   id="com.st.stm32cube.ide.mcu.target.explorer"
	       label="Target"
	       icon="icons/STM32CubeIDE_icon_16px.png">

	      	 <visibleWhen
			      checkEnabled="false">
			   <with
					 variable="activeMenuSelection">
					<iterate
					ifEmpty="false"
					operator="or">
						<adapt
						   type="org.eclipse.core.resources.IProject">
         <and>
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="com.st.stm32cube.ide.mcu.MCUProjectNature">
            </test>
            <or>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.st.stm32cube.ide.mcu.MCUSingleCpuProjectNature">
               </test>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.st.stm32cube.ide.mcu.MCUMultiCpuProjectNature">
               </test>
            </or>
         </and>
						</adapt>
					</iterate>
			   </with>
			</visibleWhen>
		    <command
            	commandId="com.st.stm32cube.ide.mcu.debug.commands.flash.program"
            	icon="icons/chip_program.png"
            	id="com.st.stm32cube.ide.mcu.debug.ui.menus.flash.program"
            	style="push">
    		</command>
    		<command
            	commandId="com.st.stm32cube.ide.mcu.debug.commands.flash.erase"
            	icon="icons/chip_erase.png"
            	id="com.st.stm32cube.ide.mcu.debug.ui.menus.flash.erase"
            	style="push">
        	</command>
		</menu>
	 </menuContribution>

     <menuContribution
			locationURI="popup:org.eclipse.ui.views.ResourceNavigator?after=additions">
		<menu
		   id="com.st.stm32cube.ide.mcu.target.navigator"
	       label="Target"
	       icon="icons/STM32CubeIDE_icon_16px.png">

	      	 <visibleWhen
			      checkEnabled="false">
			   <with
					 variable="activeMenuSelection">
					<iterate
					ifEmpty="false"
					operator="or">
						<adapt
						   type="org.eclipse.core.resources.IProject">
         <and>
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="com.st.stm32cube.ide.mcu.MCUProjectNature">
            </test>
            <or>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.st.stm32cube.ide.mcu.MCUSingleCpuProjectNature">
               </test>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.st.stm32cube.ide.mcu.MCUMultiCpuProjectNature">
               </test>
            </or>
         </and>
						</adapt>
					</iterate>
			   </with>
			</visibleWhen>
		    <command
            	commandId="com.st.stm32cube.ide.mcu.debug.commands.flash.program"
            	icon="icons/chip_program.png"
            	id="com.st.stm32cube.ide.mcu.debug.ui.menus.flash.program"
            	style="push">
    		</command>
    		<command
            	commandId="com.st.stm32cube.ide.mcu.debug.commands.flash.erase"
            	icon="icons/chip_erase.png"
            	id="com.st.stm32cube.ide.mcu.debug.ui.menus.flash.erase"
            	style="push">
        	</command>
		</menu>
	 </menuContribution>

     <menuContribution
			locationURI="popup:org.eclipse.cdt.ui.CView?after=additions">
		<menu
		   id="com.st.stm32cube.ide.mcu.target.cview"
	       label="Target"
	       icon="icons/STM32CubeIDE_icon_16px.png">

	      	 <visibleWhen
			      checkEnabled="false">
			   <with
					 variable="activeMenuSelection">
					<iterate
					ifEmpty="false"
					operator="or">
						<adapt
						   type="org.eclipse.core.resources.IProject">
         <and>
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="com.st.stm32cube.ide.mcu.MCUProjectNature">
            </test>
            <or>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.st.stm32cube.ide.mcu.MCUSingleCpuProjectNature">
               </test>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.st.stm32cube.ide.mcu.MCUMultiCpuProjectNature">
               </test>
            </or>
         </and>
						</adapt>
					</iterate>
			   </with>
			</visibleWhen>
		    <command
            	commandId="com.st.stm32cube.ide.mcu.debug.commands.flash.program"
            	icon="icons/chip_program.png"
            	id="com.st.stm32cube.ide.mcu.debug.ui.menus.flash.program"
            	style="push">
    		</command>
    		<command
            	commandId="com.st.stm32cube.ide.mcu.debug.commands.flash.erase"
            	icon="icons/chip_erase.png"
            	id="com.st.stm32cube.ide.mcu.debug.ui.menus.flash.erase"
            	style="push">
        	</command>
		</menu>
	 </menuContribution>

   </extension>
   -->
<!-- =================================================================================== -->
<!-- MCU Commands		                                                                 -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.st.stm32cube.ide.mcu.debug.menuItem.disable"
            name="%menuItem.disable">
         <enabledWhen>
            <with
                  variable="hide">
               <count
                     value="-1">
               </count>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="com.st.stm32cube.ide.mcu.debug.menuItem.disable"
            pattern="org.eclipse.debug.ui.commands.Restart">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               closeable="true"
               id="org.eclipse.debug.ui.RegisterView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.debug.ui.BreakpointView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
